body {
    width: 1440px;
    height: 840px;
    font-family: Larsseit;
    background-color: #F4F9E2;
    margin-left: 179px;
    font-weight: 700;
}
header {
    display: flex;
    flex-direction: baseline; 
}

.company-name-header {
    font-size: 24px;
    width: 484px;
    height: 27px;
    margin-top: 27px;
}

.company-name-header a{
    text-decoration: none;
    color: #62D0DF;
}

.navigation ul{
    display: flex;
    flex-direction: baseline;
    list-style: none;
}

.navigation-element {
    padding: 20px;
    font-size: 14px;
}
.navigation-element a {
    text-decoration: none;
    color: #22356F;
}
.contact-button {
    font-size: 14px;
    background-color: #62D0DF;
    margin-left: 319px;
    border-radius: 50px;
    padding: 20px 30px;
    text-transform: uppercase;
}

.contact-button a {
    text-decoration: none;
    color: #FFFFFF;
}

.company-name {
    color: #62D0DF;
    font-size: 24px;
    margin-top: 241px;
    width: 484px;
    height: 64px;
}

.container-heading {
    color: #22356F;
    font-size: 48px;
    width: 484px;
    height: 167px;
    text-transform: uppercase;
    line-height: 53px;
}

.container-text {
    font-size: 24px;
    color: #22356F;
    width: 469px;
    height: 161px;
    font-weight: 400;
    line-height: 42px;
    
}

.who-what {
    display: flex;
    flex-direction: row;
    align-items: center; 
    text-transform: uppercase;
}

.who-button {
    font-size: 16px;
    background: #F9B640;
    padding: 10px 30px;
}

.who-button a {
    color: #FFFFFF;
    text-decoration: none;
}

.what-button {
    margin-left: 38px;
}

.what-button a {
    color: #FAB63E;
    text-decoration: none;
}